{% set content_name=ez_content_name(content) %}

{% if objectParameters.doNotGenerateEmbedUrl is defined and objectParameters.doNotGenerateEmbedUrl %}
    <h3>{{ content.name }}</h3>
{% else %}
    {% if location is defined %}
        <h3><a href="{{ ez_path(location) }}">{{ content_name }}</a></h3>
    {% else %}
        <h3><a href="{{ ez_path(content) }}">{{ content_name }}</a></h3>
    {% endif %}
{% endif %}
