<h3 title="Calls made to SPI\Persistence, persistance layer beneath Repository">
    Persistence\Cache calls
</h3>


<table>
    <tr>
        <th>Total hits / misses:</th>
        <td>{{ collector.countHits }} / {{ collector.countMisses }}</td>
    </tr>
    {% if collector.handlerscount %}
        <tr>
            <th>Uncached SPI handlers(times loaded):</th>
            <td>{{ collector.handlers|join(', ') }}</td>
        </tr>
    {% endif %}
</table>

{% if collector.callsLoggingEnabled %}

    <h4 title="Calls made to SPI\Persistence, which where not cached in SPI\Persistence\Cache">
        Uncached
    </h4>

    <p class="text-small text-muted">TIP: This can represent both cold cache, and calls to actual uncached methods. Make sure to reload corresponding page to warmup cache in order to only see the latter.</p>

    <table>
        <tr>
            <th>Class::method()</th>
            <th>Arguments</th>
            <th title="Simplified trace">Trace</th>
            <th title="Numer of times called">#</th>
        </tr>
        {% for call in collector.misses %}
            <tr>
                <td>{{ call.class }}::{{ call.method }}</td>
                <td>{{ call.arguments }}</td>
                <td class="text-small text-muted">{{ call.trace }}</td>
                <td>{{ call.count }}</td>
            </tr>
        {% endfor %}
    </table>


    <h4 title="Calls made to SPI\Persistence, which where cached in SPI\Persistence\Cache and did not have to call backend">
        Cached
    </h4>

    <p class="text-small text-muted">TIP: Lookups here will also show up in Symfony's Cache panel, but here you get context of where they where requested from.</p>

    <table>
        <tr>
            <th>Class::method()</th>
            <th>Arguments</th>
            <th title="Simplified trace">Trace</th>
            <th title="Numer of times called">#</th>
        </tr>
        {% for call in collector.hits %}
            <tr>
                <td>{{ call.class }}::{{ call.method }}</td>
                <td>{{ call.arguments }}</td>
                <td class="text-small text-muted">{{ call.trace }}</td>
                <td>{{ call.count }}</td>
            </tr>
        {% endfor %}
    </table>

{% endif %}
