{# Template blocks used to render the settings of each field definition #}
{# Block naming convention is <fieldTypeIdentifier>_settings> #}
{# The following variables are available in each block:
 #  - \eZ\Publish\API\Repository\Values\ContentType\FieldDefinition fielddefinition the field definition
 #  - array settings settings of the field definition
 #}

{% block ezstring_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% set defaultValue = null %}
    {% if fielddefinition.defaultValue.text is not same as('') %}
        {% set defaultValue = fielddefinition.defaultValue.text %}
    {% endif %}
    {{ block( 'settings_defaultvalue' ) }}
    <li class="ez-fielddefinition-setting max-length">
        <div class="ez-fielddefinition-setting-name">Max string length:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if fielddefinition.validatorConfiguration.StringLengthValidator.maxStringLength %}
            {{ fielddefinition.validatorConfiguration.StringLengthValidator.maxStringLength }} characters
        {% else %}
            <em>No defined maximum string length</em>
        {% endif %}
        </div>
    </li>
</ul>
{% endblock %}

{% block eztext_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% set rows = settings.textRows %}
    {{ block( 'settings_preferredrows' ) }}
</ul>
{% endblock %}

{% block ezrichtext_settings %}
    <ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
        {% set rows = settings.numRows %}
        {{ block( 'settings_preferredrows' ) }}
    </ul>
{% endblock %}

{% block ezcountry_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% set defaultValue = null %}
    {% if fielddefinition.defaultValue.countries %}
        {% for country in fielddefinition.defaultValue.countries %}
            {% set defaultValue = defaultValue ~ country.Name ~ ( not loop.last ? ', ' : '' ) %}
        {% endfor %}
    {% endif %}
    {{ block( 'settings_defaultvalue' ) }}
    {% set isMultiple = settings.isMultiple %}
    {{ block( 'settings_allowmultiple' ) }}
</ul>
{% endblock %}

{% block ezboolean_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="ez-fielddefinition-setting default-value">
        <div class="ez-fielddefinition-setting-name">Default value:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if fielddefinition.defaultValue.bool %}
            Checked
        {% else %}
            Unchecked
        {% endif %}
        </div>
    </li>
</ul>
{% endblock %}

{% block ezdatetime_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% if settings.defaultType == constant( 'eZ\\Publish\\Core\\FieldType\\DateAndTime\\Type::DEFAULT_EMPTY' ) %}
        {% set defaultValue = 'Empty' %}
    {% elseif settings.defaultType == constant( 'eZ\\Publish\\Core\\FieldType\\DateAndTime\\Type::DEFAULT_CURRENT_DATE' ) %}
        {% set defaultValue = 'Current datetime' %}
    {% else %}
        {% set interval = settings.dateInterval %}
        {% set defaultValue = 'Current datetime adjusted by ' %}
        {% set defaultValue = interval.y ? defaultValue ~ interval.y ~ ' year(s)' : defaultValue %}
        {% set defaultValue = interval.m ? defaultValue ~ interval.m ~ ' month(s)' : defaultValue %}
        {% set defaultValue = interval.d ? defaultValue ~ interval.d ~ ' day(s)' : defaultValue %}
        {% set defaultValue = interval.h ? defaultValue ~ interval.h ~ ' hour(s)' : defaultValue %}
        {% set defaultValue = interval.i ? defaultValue ~ interval.i ~ ' minute(s)' : defaultValue %}
        {% set defaultValue = interval.s and settings.useSeconds ? defaultValue ~ interval.s ~ ' second(s)' : defaultValue %}
    {% endif %}
    {{ block( 'settings_defaultvalue' ) }}
    <li class="ez-fielddefinition-setting use-seconds">
        <div class="ez-fielddefinition-setting-name">Use seconds:</div>
        <div class="ez-fielddefinition-setting-value">{{ settings.useSeconds ? 'Yes' : 'No' }}</div>
    </li>
</ul>
{% endblock %}

{% block ezdate_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% if settings.defaultType == constant( 'eZ\\Publish\\Core\\FieldType\\Date\\Type::DEFAULT_EMPTY' ) %}
        {% set defaultValue = 'Empty' %}
    {% else %}
        {% set defaultValue = 'Current date' %}
    {% endif %}
    {{ block( 'settings_defaultvalue' ) }}
</ul>
{% endblock %}

{% block eztime_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% if settings.defaultType == constant( 'eZ\\Publish\\Core\\FieldType\\Time\\Type::DEFAULT_EMPTY' ) %}
        {% set defaultValue = 'Empty' %}
    {% else %}
        {% set defaultValue = 'Current time' %}
    {% endif %}
    {{ block( 'settings_defaultvalue' ) }}
    <li class="ez-fielddefinition-setting use-seconds">
        <div class="ez-fielddefinition-setting-name">Use seconds:</div>
        <div class="ez-fielddefinition-setting-value">{{ settings.useSeconds ? 'Yes' : 'No' }}</div>
    </li>
</ul>
{% endblock %}

{% block ezinteger_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% set defaultValue = fielddefinition.defaultValue.value %}
    {{ block( 'settings_defaultvalue' ) }}
    {% set minValue = fielddefinition.validatorConfiguration.IntegerValueValidator.minIntegerValue %}
    {{ block( 'settings_minimumvalue' ) }}
    {% set maxValue = fielddefinition.validatorConfiguration.IntegerValueValidator.maxIntegerValue %}
    {{ block( 'settings_maximumvalue' ) }}
</ul>
{% endblock %}

{% block ezfloat_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% set defaultValue = fielddefinition.defaultValue.value %}
    {{ block( 'settings_defaultvalue' ) }}
    {% set minValue = fielddefinition.validatorConfiguration.FloatValueValidator.minFloatValue %}
    {{ block( 'settings_minimumvalue' ) }}
    {% set maxValue = fielddefinition.validatorConfiguration.FloatValueValidator.maxFloatValue %}
    {{ block( 'settings_maximumvalue' ) }}
</ul>
{% endblock %}

{% block ezselection_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="ez-fielddefinition-setting options">
        <div class="ez-fielddefinition-setting-name">Defined options</div>
        <div class="ez-fielddefinition-setting-value">
            <ul>
            {% for option in settings.options %}
                <li>{{ option }}</li>
            {% endfor %}
            </ul>
        </div>
    </li>
    {% set isMultiple = settings.isMultiple %}
    {{ block( 'settings_allowmultiple' ) }}
</ul>
{% endblock %}


{% block ezbinaryfile_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {{ block( 'settings_maxfilesize' ) }}
</ul>
{% endblock %}

{% block ezmedia_settings %}
{% set type = settings.mediaType %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {{ block( 'settings_maxfilesize' ) }}
    <li class="ez-fielddefinition-setting media-player-type">
        <div class="ez-fielddefinition-setting-name">Media player type:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if type == 'flash' %}
            Flash
        {% elseif type == 'quick_time' %}
            Quicktime
        {% elseif type == 'real_player' %}
            Real Player
        {% elseif type == 'silverlight' %}
            Silverlight
        {% elseif type == 'windows_media_player' %}
            Window Media Player
        {% elseif type == 'html5_video' %}
            HTML5 Video
        {% elseif type == 'html5_audio' %}
            HTML5 Audio
        {% else %}
            <em>No defined value</em>
        {% endif %}
        </div>
    </li>
</ul>
{% endblock %}

{% block ezimage_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {{ block( 'settings_maxfilesize' ) }}
</ul>
{% endblock %}

{% block ezobjectrelation_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="ez-fielddefinition-setting selection-method">
        <div class="ez-fielddefinition-setting-name">Selection method:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if settings.selectionMethod == 0 %}
            Browse
        {% elseif settings.selectionMethod == 1 %}
            Drop-down list
        {% else %}
            Drop-down tree
        {% endif %}
        </div>
    </li>
    {% set rootLocationId = settings.selectionRoot %}
    {{ block( 'settings_selectionroot' ) }}
</ul>
{% endblock %}

{% block ezobjectrelationlist_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="ez-fielddefinition-setting selection-method">
        <div class="ez-fielddefinition-setting-name">Selection method:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if settings.selectionMethod == 0 %}
            Browse
        {% elseif settings.selectionMethod == 1 %}
            Drop-down list
        {% elseif settings.selectionMethod == 2 %}
            List with radio buttons
        {% elseif settings.selectionMethod == 3 %}
            List with checkboxes
        {% elseif settings.selectionMethod == 4 %}
            Multiple selection list
        {% elseif settings.selectionMethod == 5 %}
            Template based, multi
        {% else %}
            Template based, single
        {% endif %}
        </div>
    </li>
    <li class="ez-fielddefinition-setting allowed-content-types">
        <div class="ez-fielddefinition-setting-name">Allowed content types:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if settings.selectionContentTypes %}
            {# TODO display content type name #}
            <ul>
            {% for typeIdentifier in settings.selectionContentTypes %}
                <li>{{ typeIdentifier }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <em>Any</em>
        {% endif %}
        </div>
    </li>
    {% set rootLocationId = settings.selectionDefaultLocation %}
    {{ block( 'settings_selectionroot' ) }}
</ul>
{% endblock %}

{% block ezpage_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="ez-fielddefinition-setting default-layout">
        <div class="ez-fielddefinition-setting-name">Default layout:</div>
        <div class="ez-fielddefinition-setting-value">{{ settings.defaultLayout ? settings.defaultLayout : "None" }}</div>
    </li>
</ul>
{% endblock %}


{% block ezauthor_settings %}{% endblock %}

{% block ezurl_settings %}{% endblock %}

{% block ezisbn_settings %}
<ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
    {% set defaultValue = null %}
    {% if fielddefinition.defaultValue.isbn %}
        {% set defaultValue = fielddefinition.defaultValue.isbn %}
    {% endif %}
    {{ block( 'settings_defaultvalue' ) }}
    {% set isISBN13 = settings.isISBN13 %}
    {{ block( 'settings_allowisbn13' ) }}
</ul>
{% endblock %}

{% block ezkeyword_settings %}{% endblock %}

{% block ezuser_settings %}{% endblock %}

{% block ezemail_settings %}{% endblock %}

{% block ezgmaplocation_settings %}{% endblock %}

{% block ezsrrating_settings %}{% endblock %}

{% block settings_maxfilesize %}
    <li class="ez-fielddefinition-setting maximum-file-size">
        <div class="ez-fielddefinition-setting-name">Maximum file size:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if fielddefinition.validatorConfiguration.FileSizeValidator.maxFileSize %}
            {# TODO l10n / unit #}
            {{ fielddefinition.validatorConfiguration.FileSizeValidator.maxFileSize }} MB
        {% else %}
            <em>No defined maximum size</em>
        {% endif %}
        </div>
    </li>
{% endblock %}

{% block settings_preferredrows %}
    <li class="ez-fielddefinition-setting preferred-rows-number">
        <div class="ez-fielddefinition-setting-name">Preferred number of rows:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if rows %}
            {{ rows }} rows
        {% else %}
            <em>No preferred number of rows</em>
        {% endif %}
        </div>
    </li>
{% endblock %}

{% block settings_selectionroot %}
    <li class="ez-fielddefinition-setting selection-root">
        <div class="ez-fielddefinition-setting-name">Selection root:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if rootLocationId %}
            {{ render( controller( "ez_content:viewAction", {'locationId': rootLocationId,  'viewType': 'line'} ), {'strategy': 'esi'}) }}
        {% else %}
            <em>No defined root</em>
        {% endif %}
        </div>
    </li>
{% endblock %}

{% block settings_defaultvalue %}
    <li class="ez-fielddefinition-setting default-value">
        <div class="ez-fielddefinition-setting-name">Default value:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if defaultValue is not null %}
            {{ defaultValue }}
        {% else %}
            <em>No default value</em>
        {% endif %}
        </div>
    </li>
{% endblock %}

{% block settings_minimumvalue %}
    <li class="ez-fielddefinition-setting min-value">
        <div class="ez-fielddefinition-setting-name">Minimum value:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if minValue %}
            {{ minValue }}
        {% else %}
            <em>No defined minimum value</em>
        {% endif %}
        </div>
    </li>
{% endblock %}

{% block settings_maximumvalue %}
    <li class="ez-fielddefinition-setting max-value">
        <div class="ez-fielddefinition-setting-name">Maximum value:</div>
        <div class="ez-fielddefinition-setting-value">
        {% if maxValue %}
            {{ maxValue }}
        {% else %}
            <em>No defined maximum value</em>
        {% endif %}
        </div>
    </li>
{% endblock %}

{% block settings_allowmultiple %}
    <li class="ez-fielddefinition-setting multiple">
        <div class="ez-fielddefinition-setting-name">Allow multiple choices:</div>
        <div class="ez-fielddefinition-setting-value">{{ isMultiple ? 'Yes' : 'No' }}</div>
    </li>
{% endblock %}

{% block settings_allowisbn13 %}
    <li class="ez-fielddefinition-setting isbn">
        <div class="ez-fielddefinition-setting-name">Selected ISBN format:</div>
        <div class="ez-fielddefinition-setting-value">{{ isISBN13 ? 'ISBN-13' : 'ISBN-10' }}</div>
    </li>
{% endblock %}
